/* Pon tu código css aqui */
div {
    width:100px;
    height: 100px;
    float: left;
}
.contenedor {
    overflow: hidden;
    height: 1000;
    width: 100;  
}

.caja1{
 background: yellow;   
}
.caja2{
 background: #006cff;   
}
.caja3{
 background: #e02181;   
}
